<!DOCTYPE html>
<html>

<head>
    <title>DBOT ->
        <%= versiondbot %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Dream">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <meta charset="UTF-8">


    <!-- LES CSS -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/Accueil.css">
</head>

<body>

    <!-- NAVBAR -->
    <div>
        <nav>
            <div class="nav-wrapper green darken-1">
                <a href="#" class="brand-logo center">D-BOT</a>
            </div>
            <div class="nav-wrapper green row m12">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="">Accueil</a></li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="col s6 m6 z-depth-3 hover">
        <div class="card horizontal">
            <div class="card-image">
                <h2 class="header">INFORMATIONS</h2>
                <img class="logo" src="./ressources/Logo.png">
            </div>
            <div class="card-stacked">
                <div class="card-content">

                    <p>Version du DBOT :
                        <%= versiondbot %>.
                    </p>

                    <p>Version de NODEJS :
                        <%= versionodejs %>.
                    </p>

                    <p>Version de DISCORDJS : :
                        <%= versiondiscordjs %>.
                    </p>

                    <p>Chemin vers ffmpeg :
                        <%= cheminffmpegpath %>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6 m6 z-depth-3 hover">
        <div class="card horizontal">
            <div class="card-image">
                <h2 class="header">INFORMATIONS</h2>
                <img class="logo" src="./ressources/Logo.png">
            </div>
            <div class="card-stacked">
                <div class="card-content">

                    <p>Version du DBOT :
                        <%= versiondbot %>.
                    </p>

                    <p>Version de NODEJS :
                        <%= versionodejs %>.
                    </p>

                    <p>Version de DISCORDJS : :
                        <%= versiondiscordjs %>.
                    </p>

                    <p>Chemin vers ffmpeg :
                        <%= cheminffmpegpath %>.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- LES SCRIPTS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>

</body>

</html>
